<ion-header>
    <ion-toolbar>
        <ion-title>{{'my_orders' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <h2 class="animate__animated animate__fadeInUp">{{'orders_in_process' | translate}}</h2>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Vegetables_Fruitsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Vegetables & Fruits
                            <span class="end order_status">
                                {{'pickup_arranged' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">3 {{'items' | translate}} | $ 11.50</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Silver Leaf Vegetables <span>(Union Market)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <!--                     <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>-->
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food & Meal
                            <span class="end order_status">
                                {{'out_for_delivery' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <!--                     <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>-->
                </div>
            </div>
        </ion-item>

        <h2 class="animate__animated animate__fadeInUp">{{'past_orders' | translate}}</h2>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
         <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
         <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
         <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
         <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
         <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
         <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
         <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item> <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
        
         <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Custom_Deliveryact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Custom Delivery
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Home <span>(Central Residency)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>

        <ion-item class="delivered animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="item_info d-flex" (click)="order_detail()">
                    <div class="itme_img">
                        <img src="assets/images/Food_Mealsact.png">
                    </div>
                    <div class="item_details" (click)="order_detail()">
                        <h3 class="d-flex">
                            Food
                            <span class="end order_status">
                                {{'delivered' | translate}}
                            </span>
                        </h3>
                        <h4 class="d-flex">20 Jun, 11:35 am <span class="end">2 {{'items' | translate}} | $ 10.00</span></h4>
                    </div>
                </div>
                <div class="d-flex order_info">
                    <div class="address_info" (click)="order_detail()">
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                            </div>
                            <h5>Hilltop Restaurant <span>(Johnson Street)</span></h5>
                        </div>
                        <div class="dotted_icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="from_to d-flex">
                            <div class="icon_box d-flex">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                            </div>
                            <h5>Office <span>(World Trade Park)</span></h5>
                        </div>
                    </div>
                    <h6 class="end" (click)="add_review()">{{'rate_now' | translate}}</h6>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>