 @font-face {
     font-family: 'Google Sans';
     src: url('../assets/font/GoogleSans-Italic.woff2') format('woff2'),
         url('../assets/font/GoogleSans-Italic.woff') format('woff');
     font-weight: normal;
     font-style: italic;
 }

 @font-face {
     font-family: 'Google Sans';
     src: url('../assets/font/GoogleSans-Regular.woff2') format('woff2'),
         url('../assets/font/GoogleSans-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'Google Sans';
     src: url('../assets/font/GoogleSans-BoldItalic.woff2') format('woff2'),
         url('../assets/font/GoogleSans-BoldItalic.woff') format('woff');
     font-weight: bold;
     font-style: italic;
 }

 @font-face {
     font-family: 'Google Sans';
     src: url('../assets/font/GoogleSans-Bold.woff2') format('woff2'),
         url('../assets/font/GoogleSans-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
 }

 @font-face {
     font-family: 'Google Sans';
     src: url('../assets/font/GoogleSans-MediumItalic.woff2') format('woff2'),
         url('../assets/font/GoogleSans-MediumItalic.woff') format('woff');
     font-weight: 500;
     font-style: italic;
 }

 @font-face {
     font-family: 'Google Sans';
     src: url('../assets/font/GoogleSans-Medium.woff2') format('woff2'),
         url('../assets/font/GoogleSans-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
 }



 *,
 body,
 html,
 p,
 span,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 strong,
 li {
     --ion-font-family: 'Google Sans';
     font-family: 'Google Sans';
 }

 .zmdi {
     font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
 }