<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'saved_address' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box ion-text-center">
                    <img src="assets/images/ic_homeadd.png">
                </div>
                <div class="text_box">
                    <h2>Home</h2>
                    <p>
                        Flat num, 114, Frist Floor, Central Residency 1024, Central Residency Hemilton Park, New York, USA
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box ion-text-center">
                    <img src="assets/images/ic_office.png">
                </div>
                <div class="text_box">
                    <h2>Office</h2>
                    <p>
                        1141, Eight Floor, World Trade Residency Jackson tower, Residency Hemilton Park, New York, USA
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box ion-text-center">
                    <img src="assets/images/ic_other.png">
                </div>
                <div class="text_box">
                    <h2>Other</h2>
                    <p>
                        Flat num, 114, Frist Floor, Central Residency 1024, Central Residency Hemilton Park, New York, USA
                    </p>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" expand="full" class="btn">+ {{'add_new' | translate}}</ion-button>
</ion-footer>