ion-header {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 0px);
        background: var(--white);
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
    }


    .banner {
        position: relative;
        z-index: 99;

        padding: 20px 20px;

        h2 {
            margin: 0;
            text-transform: uppercase;
            font-size: .9rem;
            font-weight: 400;
            letter-spacing: 1px;
            padding-bottom: 4px;
            color: var(--text-light);
        }

        h1 {
            margin: 0;
            font-weight: 600;
            font-size: 2.1rem;
            color: var(--primary);
        }
    }

    .button.btn {
        --background: var(--secondary);
        width: fit-content;
        position: fixed;
        top: 143px;
        z-index: 9999;
        right: 20px;
        font-size: .95rem;
        min-width: 140px;
        height: 48px;
        text-transform: none;
        font-weight: 400;
    }
}


ion-list {
    background: var(--transparent) !important;
    margin: 0;
    padding: 0;
    padding-top: 20px;

    h2 {
        margin: 0;
        color: var(--text-light);
        font-size: 1rem;
        padding: 0 20px 10px 20px;
    }

    ion-item {
        padding: 13px 20px;
        min-height: unset !important;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        margin-bottom: 5px;
        background: var(--white);
        transition: all .5s;

        ion-row {
            margin: 0 -5px;
            width: 100%;

            ion-col {
                h3 {
                    margin: 0;
                    color: var(--text-black);
                    font-size: .93rem;
                    padding-bottom: 6px;
                }

                p {
                    margin: 0;
                    color: var(--text-light);
                    font-size: .8rem;
                    white-space: nowrap;
                    font-weight: 400;
                }
            }
        }
    }
}