<!--
<ion-header>
  <ion-toolbar>
    <ion-title>delivered-succesfully</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
	<div class="container">
		<div class="img_box animate__animated animate__zoomIn">
			<img src="assets/images/delivery_done.png">
		</div>
		<h1 class="ion-text-center animate__animated animate__fadeInUpanimate__animated animate__fadeInUp">
			<span class="animate__animated animate__fadeInUp">{{'delivered_successfully' | translate}}</span>
            <br>
			<small class="animate__animated animate__fadeInUp"> {{'thank_you_for_delivery_safely_on_time' | translate}}</small>
		</h1>
		<div class="order_info">
			<ion-row>
				<ion-col size="7">
					<h2 class="animate__animated animate__fadeInUp">{{'your_drived' | translate}}</h2>
					<h3 class="animate__animated animate__fadeInUp">18 min (6.5)</h3>
					<h4 class="animate__animated animate__fadeInUp">{{'view_order_info' | translate}}</h4>
				</ion-col>
				<ion-col size="5">
					<h2 class="animate__animated animate__fadeInUp">{{'your_earning' | translate}}</h2>
					<h3 class="animate__animated animate__fadeInUp">$ 8.50</h3>
					<h4 class="animate__animated animate__fadeInUp" (click)="insight()">{{'view_earnings' | translate}}</h4>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-button size="large" shape="full" class="btn animate__animated animate__fadeInUp" (click)="home()">{{'back_to_home' | translate}}</ion-button>
</ion-footer>