<ion-header>
    <ion-toolbar>
        <ion-title>{{'my_account' | translate}}</ion-title>
    </ion-toolbar>
    <div class="profile_info d-flex" (click)="store_profile()">
        <div class="img_box center_img">
            <img src="assets/images/store1.png" class="crop_img">
        </div>
        <div class="text_box">
            <h2 class="animate__animated animate__fadeInUp">Silver Leaf Vegetables</h2>
            <p class="d-flex animate__animated animate__fadeInUp">
                <ion-icon class="zmdi zmdi-pin"></ion-icon>
                <span>Union Market</span>
            </p>
            <h4 class="animate__animated animate__fadeInUp">{{'store_profile' | translate}}</h4>
        </div>
    </div>
</ion-header>

<ion-content fullscreen>
    <div class="buy_this_app end" (click)="buyappalert()" *ngIf="config.demoMode">
        <h2>
            <!--                        <ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>-->
            {{"buy_this_app" | translate}}
        </h2>
    </div>

    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp" (click)="insight()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_insight.png">
                </div>
                <h2>{{'insight' | translate}}</h2>
            </div>
        </ion-item> 
        
        <ion-item class="animate__animated animate__fadeInUp" (click)="wallet()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_wallet.png">
                </div>
                <h2>{{'wallet' | translate}}</h2>
            </div>
        </ion-item>
        
        <ion-item class="animate__animated animate__fadeInUp" (click)="reviews()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_reviewact.png">
                </div>
                <h2>{{'my_reviews' | translate}}</h2>
            </div>
        </ion-item>
        
        <ion-item class="animate__animated animate__fadeInUp" (click)="settings()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_setting.png">
                </div>
                <h2>{{'settings' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="terms_conditions()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_tncact.png">
                </div>
                <h2>{{'terms_conditions' | translate}}</h2>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="support()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_supportact.png">
                </div>
                <h2>{{'support' | translate}}</h2>
            </div>
        </ion-item>

<!--
        <ion-item class="animate__animated animate__fadeInUp" (click)="about_us()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_aboutact.png">
                </div>
                <h2>{{'about_us' | translate}}</h2>
            </div>
        </ion-item>
-->

<!--
        <ion-item class="animate__animated animate__fadeInUp" (click)="select_language()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_aboutact.png">
                </div>
                <h2>{{'change_language' | translate}}</h2>
            </div>
        </ion-item>
-->

        <ion-item class="animate__animated animate__fadeInUp" (click)="phone_number()">
            <div class="item_inner d-flex">
                <div class="icon_box ion-text-start">
                    <img src="assets/images/ic_menu_logoutact.png">
                </div>
                <h2>{{'logout' | translate}}</h2>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <div class="developed_by d-flex" *ngIf="config.demoMode"  (click)="developed_by()">
        <h2>{{"developed_by" | translate}}</h2>
        <div class="img_box ion-text-end">
            <img src="assets/images/opus.png" class="light-theme-logo">
            <img src="assets/images/opus_logo_light.png" class="dark-theme-logo">
        </div>
    </div>
</ion-footer>