.form {
    border-top: 6px solid var(--bg-color);
    padding-top: 34px;

    h1 {
        margin: 0;
        color: var(--text-black);
        font-size: 1.8rem;
        padding-bottom: 26px;
    }

    h2 {
        margin: 0;
        font-size: 1.13rem;
        line-height: 21px;
        width: calc(100% - 33px);
        padding-bottom: 45px;
        font-weight: 600;
        color: var(--text-black);
    }

    ion-list {
        ion-item {
            &:last-of-type {
                margin-bottom: 15px !important;
            }
        }
    }

    p {
        margin: 0;
        color: var(--text-light);
        font-size: .7rem;
        letter-spacing: .5px;
        font-weight: 400;

        span {
            width: calc(100% - 35px);
        }
    }
}