<!--
<ion-header>
  <ion-toolbar>
    <ion-title>order-placed</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
    <div class="container ion-text-center">
        <div class="img_box animate__animated animate__zoomIn">
            <img src="assets/images/order_placed.png">
        </div>
        <div class="text_box">
            <h2 class="animate__animated animate__fadeInUp">{{'order_placed' | translate}} !!</h2>
            <p class="animate__animated animate__fadeInUp">{{'thanks_for_choosing_us_for' | translate}}<br>{{'delivering_your_needs' | translate}}.</p>
            <p class="animate__animated animate__fadeInUp">{{'you_can_check_your_order_status' | translate}}<br>{{'in_my_order_section' | translate}}.</p>

        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" shape="full" class="btn" (click)="tabs()"> {{'my_orders' | translate}} </ion-button>
</ion-footer>