.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 15px;
    width: 100%;
    height: fit-content;


    .img_box {
        max-width: 270px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 50px;
        --animate-duration: .2s !important;
    }

    .text_box {
        width: 100%;

        h2 {
            margin: 0;
            color: var(--text-black);
            font-weight: 700;
            font-size: 1.55rem;
            padding-bottom: 23px;
        }

        p {
            margin: 0;
            color: var(--text-dark);
            font-size: 1.1rem;
            padding-bottom: 18px;
            letter-spacing: .4px;
        }
    }
}

ion-footer {
    --animate-duration: .2s !important;
}