<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'wallet' | translate}}</ion-title>
    </ion-toolbar>
    <div class="banner">
        <h2 class="animate__animated animate__fadeInUp">{{'available_balance' | translate}}</h2>
        <h1 class="animate__animated animate__fadeInUp">$ 258.50</h1>
    </div>
     <ion-button size="large" expand="block"  class="btn" (click)="add_money()">{{'add_money' | translate}}</ion-button>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <h2>{{'recent' | translate}}</h2>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Silver leaf Vegetables</strong> <span class="end">$21.00</span></h3>
                <p class="d-flex">30 Jun 2020, 11:59 am <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>City Pizza</strong> <span class="end">$15.50</span></h3>
                <p class="d-flex">30 Jun 2020, 11:23 am <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="add_money animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Money Added</strong> <span class="end">+$100.00</span></h3>
                <p class="d-flex">329 Jun 2020, 09:12 am <span class="end">Add from Bank</span></p>
            </div>
        </ion-item> 
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Custome Courier</strong> <span class="end">$10.00</span></h3>
                <p class="d-flex">29 Jun 2020, 12:20 pm <span class="end">1 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Food Fire Plaza</strong> <span class="end">$24.50</span></h3>
                <p class="d-flex">29 Jun 2020, 12:20 pm <span class="end">1 {{'items' | translate}}</span></p>
            </div>
        </ion-item>  
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Evergreen Vergetables</strong> <span class="end">$13.00</span></h3>
                <p class="d-flex">29 Jun 2020, 11:59 pm <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item> 
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Eat Fresh Spot</strong> <span class="end">$28.50</span></h3>
                <p class="d-flex">28 Jun 2020, 08:59 pm <span class="end">5 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Silver leaf Vegetables</strong> <span class="end">$21.00</span></h3>
                <p class="d-flex">30 Jun 2020, 11:59 am <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>City Pizza</strong> <span class="end">$15.50</span></h3>
                <p class="d-flex">30 Jun 2020, 11:23 am <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="add_money animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Money Added</strong> <span class="end">+$100.00</span></h3>
                <p class="d-flex">329 Jun 2020, 09:12 am <span class="end">Add from Bank</span></p>
            </div>
        </ion-item> 
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Custome Courier</strong> <span class="end">$10.00</span></h3>
                <p class="d-flex">29 Jun 2020, 12:20 pm <span class="end">1 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Food Fire Plaza</strong> <span class="end">$24.50</span></h3>
                <p class="d-flex">29 Jun 2020, 12:20 pm <span class="end">1 {{'items' | translate}}</span></p>
            </div>
        </ion-item>  
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Evergreen Vergetables</strong> <span class="end">$13.00</span></h3>
                <p class="d-flex">29 Jun 2020, 11:59 pm <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item> 
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Eat Fresh Spot</strong> <span class="end">$28.50</span></h3>
                <p class="d-flex">28 Jun 2020, 08:59 pm <span class="end">5 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Silver leaf Vegetables</strong> <span class="end">$21.00</span></h3>
                <p class="d-flex">30 Jun 2020, 11:59 am <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>City Pizza</strong> <span class="end">$15.50</span></h3>
                <p class="d-flex">30 Jun 2020, 11:23 am <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="add_money animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Money Added</strong> <span class="end">+$100.00</span></h3>
                <p class="d-flex">329 Jun 2020, 09:12 am <span class="end">Add from Bank</span></p>
            </div>
        </ion-item> 
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Custome Courier</strong> <span class="end">$10.00</span></h3>
                <p class="d-flex">29 Jun 2020, 12:20 pm <span class="end">1 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Food Fire Plaza</strong> <span class="end">$24.50</span></h3>
                <p class="d-flex">29 Jun 2020, 12:20 pm <span class="end">1 {{'items' | translate}}</span></p>
            </div>
        </ion-item>  
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Evergreen Vergetables</strong> <span class="end">$13.00</span></h3>
                <p class="d-flex">29 Jun 2020, 11:59 pm <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item> 
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Eat Fresh Spot</strong> <span class="end">$28.50</span></h3>
                <p class="d-flex">28 Jun 2020, 08:59 pm <span class="end">5 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Silver leaf Vegetables</strong> <span class="end">$21.00</span></h3>
                <p class="d-flex">30 Jun 2020, 11:59 am <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>City Pizza</strong> <span class="end">$15.50</span></h3>
                <p class="d-flex">30 Jun 2020, 11:23 am <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="add_money animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Money Added</strong> <span class="end">+$100.00</span></h3>
                <p class="d-flex">329 Jun 2020, 09:12 am <span class="end">Add from Bank</span></p>
            </div>
        </ion-item> 
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Custome Courier</strong> <span class="end">$10.00</span></h3>
                <p class="d-flex">29 Jun 2020, 12:20 pm <span class="end">1 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Food Fire Plaza</strong> <span class="end">$24.50</span></h3>
                <p class="d-flex">29 Jun 2020, 12:20 pm <span class="end">1 {{'items' | translate}}</span></p>
            </div>
        </ion-item>  
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Evergreen Vergetables</strong> <span class="end">$13.00</span></h3>
                <p class="d-flex">29 Jun 2020, 11:59 pm <span class="end">3 {{'items' | translate}}</span></p>
            </div>
        </ion-item> 
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3 class="d-flex"><strong>Eat Fresh Spot</strong> <span class="end">$28.50</span></h3>
                <p class="d-flex">28 Jun 2020, 08:59 pm <span class="end">5 {{'items' | translate}}</span></p>
            </div>
        </ion-item>
        
    </ion-list>
</ion-content>