<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="banner animate__animated animate__zoomInUp">
        <div class="logo ion-text-center">
            <img src="assets/images/Logo.png" class="light_theme_logo">
            <img src="assets/images/logo_store_dark.png" class="dark_theme_logo">
        </div>
        <h2 class="ion-text-center"><strong>{{'delivering_almost' | translate}}</strong> {{'everything' | translate}}</h2>
    </div>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <div class="footer_banner">
        <div class="img_box">
            <img src="assets/images/login_image.png">
        </div>
    </div>
    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <h3>+1</h3>
                    <ion-input mode="md" type="number" placeholder="{{'enter_mobile_number' | translate}}"></ion-input>
                    <ion-button size="large" class="btn end" (click)="register()">{{'continue' | translate}}</ion-button>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-footer>