<ion-app [dir]="rtlSide">
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-menu-toggle auto-hide="false">
                    <ion-icon class="zmdi zmdi-close"></ion-icon>
                </ion-menu-toggle>

                <div class="profile_info" (click)="profile()">
                    <ion-menu-toggle class="d-flex" auto-hide="false">
                        <div class="img_box center_img">
                            <img src="assets/images/img_profile.png" class="crop_img">
                        </div>
                        <div class="text_box">
                            <h2>George Anderson</h2>
                            <p>+1 987 654 3210</p>
                            <p>deliveryman@mail.com</p>
                        </div>
                    </ion-menu-toggle>
                </div>
            </ion-header>
            <ion-content>
                <div class="buy_this_app" (click)="buyappalert()" *ngIf="config.demoMode">
                    <ion-menu-toggle auto-hide="false">
                        <h2>
                            <!--                        <ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>-->
                            {{"buy_this_app" | translate}}
                        </h2>
                    </ion-menu-toggle>
                </div>

                <ion-list lines="none">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" class="animate__animated animate__fadeInRight">
                        <ion-item mode="ios" detail="false" [routerDirection]="'root'" [routerLink]="[p.url]">
                            <div class="item_inner d-flex">
                                <div class="icon_box">
                                    <img data-src="{{p.image}}">
                                </div>
                                <h2>{{ p.title | translate}}</h2>
                            </div>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>

            <ion-footer class="ion-no-border" *ngIf="config.demoMode">
                <div class="developed_by d-flex" (click)="developed_by()">
                    <h2>{{"developed_by" | translate}}</h2>
                    <div class="img_box ion-text-end">
                        <img src="assets/images/opus.png" class="light-theme-logo">
                        <img src="assets/images/opus_logo_light.png" class="dark-theme-logo">
                    </div>
                </div>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>