.banner {
    padding: 0 20px;
    margin: auto;
    width: 100%;
    margin-bottom: 80px;

    .logo {
        display: block;
        width: 100px;
        margin: auto;

        img {
            display: block;
            margin: auto;

            &.dark_theme_logo {
                display: none;
            }
        }
    }

    h2 {
        margin: 0;
        color: var(--text-black);
        font-size: 1.2rem;
        font-weight: 400;

        strong {
            display: block;
        }
    }
}

.animate__animated.animate__fadeInUp {
    --animate-duration: .2s;
}

.animate__animated.animate__zoomInUp {
    --animate-duration: .2s;
}

ion-footer {
    background: var(--bg-color);
    overflow-y: auto;

    .img_box {
        width: 100%;
        text-align: center;

        img {
            width: auto;
            display: block;
        }
    }

    .form {
        background: var(--white);

        ion-list {
            ion-item {
                margin: 0 !important;
                border-bottom: none !important;
                padding: 11px 0px !important;

                h3 {
                    margin: 0;
                    font-size: 1.1rem;
                    min-width: 27px;
                    font-weight: 600;
                }

                .item_inner {
                    &.d-flex {
                        align-items: center !important;
                    }
                }

                .button.btn {
                    --border-radius: 50px;
                    width: fit-content;
                    height: 35px;
                    font-size: .9rem;
                    min-width: 108px;
                    --padding-start: 10px;
                    --padding-end: 10px;
                }
            }

        }
    }

    .social_login {
        width: 100%;

        h3 {
            margin: 0;
            color: var(--text-black);
            font-size: 1rem;
            padding: 20px 0;
        }

        .button_container {
            width: 100%;

            .btn {
                min-height: 55px;
                padding: 0 20px;

                .img_box {
                    width: fit-content;
                    min-width: 85px;

                    img {
                        width: 27px;
                        margin: 0 auto;
                    }
                }

                h6 {
                    margin: 0;
                    color: #fff;
                    font-weight: 400;
                    font-size: 0.9rem;
                    letter-spacing: 0.3px;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    left: 0;

                }

                &.Facebook {
                    background: #3A559F;
                    --animate-duration: .3s;
                }

                &.Google {
                    background: #fff;
                    --animate-duration: .35s;

                    h6 {
                        color: #000000 !important;
                    }
                }

                &.Apple {
                    background: #000000;
                    --animate-duration: .4s;
                }
            }
        }

    }
}