<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>

</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <div class="banner animate__animated animate__zoomInUp">
        <div class="logo ion-text-center">
            <img src="assets/images/Logo.png" class="light_theme_logo">
            <img src="assets/images/logo_user_dark.png" class="dark_theme_logo">
        </div>
        <!--        <h2 class="ion-text-center"><strong>{{'delivering_almost' | translate}}</strong> {{'everything' | translate}}</h2>-->
    </div>

    <div class="footer_banner animate__animated animate__fadeInUp" style="--animate-duration: .3s;">
        <div class="img_box">
            <img src="assets/images/login_image.png">
        </div>
    </div>
    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <h3>+1</h3>
                    <ion-input mode="md" type="number" placeholder="{{'enter_mobile_number' | translate}}"></ion-input>
                    <ion-button size="large" class="btn end" (click)="register()">{{'continue' | translate}}</ion-button>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <div class="social_login">
        <h3 class="ion-text-center">{{'or' | translate}}</h3>
        <div class="button_container">
            <div class="btn Facebook d-flex animate__animated animate__fadeInUp" (click)="socila_login()">
                <div class="img_box ion-text-center">
                    <img src="assets/images/ic_login_facebook.png">
                </div>
                <h6>{{'login_with' | translate}} <strong>Facebook</strong></h6>
            </div>
            <div class="btn d-flex Google animate__animated animate__fadeInUp" (click)="socila_login()">
                <div class="img_box ion-text-center">
                    <img src="assets/images/ic_login_google.png">
                </div>
                <h6>{{'login_with' | translate}} <strong>Google</strong></h6>
            </div>
            <div class="btn Apple d-flex animate__animated animate__fadeInUp">
                <div class="img_box ion-text-center" (click)="socila_login()">
                    <img src="assets/images/ic_login_apple.png">
                </div>
                <h6>{{'login_with' | translate}} <strong>Apple</strong></h6>
            </div>
        </div>
    </div>
</ion-footer>