<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'terms_conditions' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="banner">
        <div class="logo ion-text-center  animate__animated animate__zoomIn">
            <img src="assets/images/Logo.png" class="light_theme_logo">
            <img src="assets/images/logo_store_dark.png" class="dark_theme_logo">
        </div>
    </div>
    <div class="container">
        <h2  class="animate__animated animate__fadeInUp">Terms of use</h2>
        <p  class="animate__animated animate__fadeInUp">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with
        </p>
        <p  class="animate__animated animate__fadeInUp">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with
        </p>

        <h2  class="animate__animated animate__fadeInUp">Company Policy</h2>
        <p  class="animate__animated animate__fadeInUp">
            Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. “It's not Latin, though it looks like it, and it actually says nothing,” Before & After magazine answered a curious reader, “Its ‘words’ loosely approximate the frequency with which letters occur in English, which is why at a glance it looks pretty real.
        </p>
        <p  class="animate__animated animate__fadeInUp">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with
        </p>
    </div>
</ion-content>