<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'wallet' | translate}}</ion-title>
    </ion-toolbar>
    <div class="banner">
        <h2 class="animate__animated animate__fadeInUp">{{'available_balance' | translate}}</h2>
        <h1 class="animate__animated animate__fadeInUp">$ 520.50</h1>
    </div>

    <ion-button size="large" shape="full" class="btn" (click)="send_to_bank()">{{'send_to_bank' | translate}}</ion-button>
</ion-header>


<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <h2>{{'recent' | translate}}</h2>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Vegetables & Fruits</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>Online</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Food & Meals</strong></h3>
                    <p>2 {{'items' | translate}} | 30 Jun 2018, 09:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Sent to Bank</strong></h3>
                    <p>2 {{'items' | translate}} | 29 Jun 2018, 09:12 am</p>
                </ion-col>

                <ion-col size="6" class="ion-text-end">
                    <h3>-100.00</h3>
                    <p>Sent to Bank</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Pahrma Medicines</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$6.50</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Custom Courier</strong></h3>
                    <p>Delivered 3 {{'items' | translate}}</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>Order Value</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$68.50</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Vegetables & Fruits</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>Online</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Food & Meals</strong></h3>
                    <p>2 {{'items' | translate}} | 30 Jun 2018, 09:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Sent to Bank</strong></h3>
                    <p>2 {{'items' | translate}} | 29 Jun 2018, 09:12 am</p>
                </ion-col>

                <ion-col size="6" class="ion-text-end">
                    <h3>-100.00</h3>
                    <p>Sent to Bank</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Pahrma Medicines</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$6.50</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Custom Courier</strong></h3>
                    <p>Delivered 3 {{'items' | translate}}</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>Order Value</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$68.50</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Vegetables & Fruits</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>Online</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Food & Meals</strong></h3>
                    <p>2 {{'items' | translate}} | 30 Jun 2018, 09:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Sent to Bank</strong></h3>
                    <p>2 {{'items' | translate}} | 29 Jun 2018, 09:12 am</p>
                </ion-col>

                <ion-col size="6" class="ion-text-end">
                    <h3>-100.00</h3>
                    <p>Sent to Bank</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Pahrma Medicines</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$6.50</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Custom Courier</strong></h3>
                    <p>Delivered 3 {{'items' | translate}}</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>Order Value</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$68.50</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Vegetables & Fruits</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>Online</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Food & Meals</strong></h3>
                    <p>2 {{'items' | translate}} | 30 Jun 2018, 09:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Sent to Bank</strong></h3>
                    <p>2 {{'items' | translate}} | 29 Jun 2018, 09:12 am</p>
                </ion-col>

                <ion-col size="6" class="ion-text-end">
                    <h3>-100.00</h3>
                    <p>Sent to Bank</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Pahrma Medicines</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$6.50</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Custom Courier</strong></h3>
                    <p>Delivered 3 {{'items' | translate}}</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>Order Value</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$68.50</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Vegetables & Fruits</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>Online</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Food & Meals</strong></h3>
                    <p>2 {{'items' | translate}} | 30 Jun 2018, 09:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Sent to Bank</strong></h3>
                    <p>2 {{'items' | translate}} | 29 Jun 2018, 09:12 am</p>
                </ion-col>

                <ion-col size="6" class="ion-text-end">
                    <h3>-100.00</h3>
                    <p>Sent to Bank</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Pahrma Medicines</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$6.50</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Custom Courier</strong></h3>
                    <p>Delivered 3 {{'items' | translate}}</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>Order Value</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$68.50</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Vegetables & Fruits</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>Online</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Food & Meals</strong></h3>
                    <p>2 {{'items' | translate}} | 30 Jun 2018, 09:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Sent to Bank</strong></h3>
                    <p>2 {{'items' | translate}} | 29 Jun 2018, 09:12 am</p>
                </ion-col>

                <ion-col size="6" class="ion-text-end">
                    <h3>-100.00</h3>
                    <p>Sent to Bank</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Pahrma Medicines</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$6.50</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Custom Courier</strong></h3>
                    <p>Delivered 3 {{'items' | translate}}</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>Order Value</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$68.50</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Vegetables & Fruits</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>Online</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Food & Meals</strong></h3>
                    <p>2 {{'items' | translate}} | 30 Jun 2018, 09:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$5.20</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Sent to Bank</strong></h3>
                    <p>2 {{'items' | translate}} | 29 Jun 2018, 09:12 am</p>
                </ion-col>

                <ion-col size="6" class="ion-text-end">
                    <h3>-100.00</h3>
                    <p>Sent to Bank</p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Pahrma Medicines</strong></h3>
                    <p>3 {{'items' | translate}} | 30 Jun 2018, 11:59 am</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$80.00</h3>
                    <p>COD</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$6.50</h3>
                    <p>{{'earnings' | translate}} </p>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <ion-row>
                <ion-col size="6">
                    <h3><strong>Custom Courier</strong></h3>
                    <p>Delivered 3 {{'items' | translate}}</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                    <h3>$110.00</h3>
                    <p>Order Value</p>
                </ion-col>

                <ion-col size="3" class="ion-text-end">
                    <h3>$68.50</h3>
                    <p>{{'earnings' | translate}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

    </ion-list>
</ion-content>