<ion-header>

    <ion-toolbar>
        <div class="toolbar_inner d-flex">
            <ion-buttons slot="start" mode="md">
                <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
            </ion-buttons>
            <ion-title>
                <div class="title_inner">
                    Silver Leaf Vegetables
                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                        &nbsp;
                        <span>148 {{'reviews' | translate}}
                        </span>
                    </h5>
                </div>
            </ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>George Timber</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 April, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>     
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Emilli Johnson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">23 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>  
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Jackson Demmy</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>   
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Opera Taylor</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>    
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Geillinia Hopeson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>
        
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>George Timber</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 April, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>     
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Emilli Johnson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">23 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>  
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Jackson Demmy</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>   
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Opera Taylor</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>    
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Geillinia Hopeson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>George Timber</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 April, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>     
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Emilli Johnson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">23 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>  
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Jackson Demmy</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>   
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Opera Taylor</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>    
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Geillinia Hopeson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>George Timber</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 April, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>     
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Emilli Johnson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">23 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>  
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Jackson Demmy</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>   
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Opera Taylor</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>    
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Geillinia Hopeson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>George Timber</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 April, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>     
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Emilli Johnson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">23 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>  
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Jackson Demmy</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>   
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Opera Taylor</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>    
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Geillinia Hopeson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>George Timber</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 April, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>     
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Emilli Johnson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">23 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>  
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Jackson Demmy</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>   
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Opera Taylor</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>    
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Geillinia Hopeson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>George Timber</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 April, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>     
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Emilli Johnson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">23 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>  
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Jackson Demmy</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>   
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Opera Taylor</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>    
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Geillinia Hopeson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>
         <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>George Timber</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 April, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>     
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Emilli Johnson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">23 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>  
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Jackson Demmy</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    4.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>   
        
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Opera Taylor</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>    
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h2>Geillinia Hopeson</h2>
                <h5 class="d-flex">
                    <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                    5.0
                    <span class="end">5 Feb, 20</span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>