ion-header {
    background: var(--white);

    ion-toolbar ion-title {
        padding: 0 20px !important;

        ion-icon {
            font-size: 2.1rem;
        }
    }

    .profile_info {
        padding: 0 20px 20px 20px;

        .img_box {
            min-width: 45px;
            height: 45px;
            margin-right: 15px;
        }

        .text_box {
            h2 {
                margin: 0;
                color: var(--text-black);
                font-size: 1rem;
                padding-bottom: 4px;
            }

            h3 {
                margin: 0;
                color: var(--text-light);
                font-size: .81rem;
                font-weight: 400;
                letter-spacing: .5px;
            }
        }

        .icon_box {
            min-width: fit-content;

            ion-icon {
                color: var(--primary);
                font-size: 1.35rem;
                min-width: 34px;
            }
        }
    }
}

ion-content {
    --background: url('../../assets/images/chat_bg.png') 0 0/100% 100% no-repeat;
}

.chat_container {
    padding: 15px 15px;
    flex-wrap: wrap;

    .chat_box {
        width: auto !important;
        margin-bottom: 20px;
        min-width: 70%;
        align-items: flex-start;

        .chat {
            min-width: 90px;
            border-radius: 5px;
            max-width: 100%;
            box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);

            h2 {
                margin: 0;
                font-size: 1rem;
                color: var(--text-black);
                line-height: 20px;
                padding-bottom: 8px;
            }
        }

        p {
            margin: 0;
            font-size: .8rem;
            font-weight: 400;
            color: var(--text-light);
        }

        &.received {
            .chat {
                background: var(--white);
                padding: 9px 20px 10px 14px;
            }
        }

        &.send {
            margin-left: auto;
            margin-right: 0;

            .chat {
                background: var(--primary);
                padding: 9px 14px 10px 40px;
                margin-left: auto;
                margin-right: 0;


                h2 {
                    text-align: right;
                    color: var(--white);
                    font-weight: 400;
                }

                p {
                    text-align: right;
                    color: var(--white);
                    opacity: .4;
                }
            }
        }
    }
}

ion-footer {
    background: var(--white);
    box-shadow: 0 12px 38px 10px rgba(0, 0, 0, 0.1);
    --animate-duration: .4s !important;

    .form {
        margin: 0;
        width: 100%;
        padding: 0;

        ion-list {
            padding: 0 !important;

            ion-item {
                border: none !important;
                background: none;
                margin: 0;
                align-items: center;
                border: 0 !important;
                padding: 10px 17px !important;
                --min-height: unset !important;
                font-weight: 500 !important;

                ion-textarea {
                    font-size: 1rem !important;
                    --placeholder-color: var(--text-black) !important;
                    --placeholder-font-weight: 500 !important;
                    padding: 10px 0 !important;
                    font-weight: 500 !important;
                    margin: 0;
                    max-height: 100px;

                }
            }

            .send_btn {
                padding: 0 17px;
                min-width: 30px;
                position: relative;
                top: 3px;

                ion-icon {
                    color: var(--primary);
                    font-size: 1.8rem;
                }
            }
        }
    }
}